<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
    <section name="RMTestConfiguration" type="RMAutoFramework.Config.RMTestConfiguration, RMAutoFramework" />
  </configSections>
  <specFlow>
    <stepAssemblies>
      <stepAssembly assembly="SpecFlow.Assist.Dynamic" />
    </stepAssemblies>
  </specFlow>

  <RMTestConfiguration>
    <testSettings>
      <testSetting name="staging" aut="https://web103.reachmee.com/ext/I003/593/main?site=125&amp;lang=UK&amp;validator=410eb9e3ac74e9d8dcdb632e687b7f97" browser="Chrome" testType="Regression" isLog="Y" logPath="C:\\AutoLogs\\" />
      <testSetting name="dev" aut="https://web103.reachmee.com/ext/I003/593/main?site=125&amp;lang=UK&amp;validator=410eb9e3ac74e9d8dcdb632e687b7f97" browser="Firefox" testType="SmokeTest" isLog="Y" logPath="C:\\AutoLogs\\" />
    </testSettings>
  </RMTestConfiguration>
</configuration>